.button.ant-btn.ant-btn-default {
  color: white;
  background: #dc6846;
  box-shadow: 0px 5px 5px #d34216;
  border: none;
  width: 40%;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 30%;
  &:hover {
    cursor: pointer;
    background: #d43c0e;
  }
}
