@import '../../../constants/Style/style.scss';

.wrapper {
  background-color: $pink;
  background-image: url(../../../image/flower.png);
  background-position: top 30px right;
  background-repeat: no-repeat;
}
