.catalog_title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cards_slider.react-tabs__tab-panel--selected {
  margin: 0 25% 0 25%;
}

.slick-list {
  width: 750px;
}

.cards_tabs.cards_tabs {
  margin: 0 25% 0 25%;
}

.react-tabs__tab--selected {
  border: none !important;
  font-weight: bold !important;
  background: none !important;
}

.ant-card-bordered{
  border: 4px solid #FFE4E6 !important;
}
