.people_wrapper {
  display: flex;
}

.people_list.ant-list {
  width: 90%;
  margin-left: 20px;
}

#scrollableDiv {
  height: 750px;
  overflow: auto;
}

.infinite-scroll-component__outerdiv {
  width: 900px !important;
}

.loading {
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: dots 1s steps(4) infinite;
}

@keyframes dots {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
